/* ul,
ol {
    list-style: none;
}
.circle {
    border: 2px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.icon-wrapper {
}
.letter {
    position: absolute;
}
.answer-list-item {
    border-top: 1px solid #ccc !important;
    padding: 10px;
}
.answer-wrapper {
    display: block;
}
.answer-choice-text {
    display: inline;
} */

/* Customize the label (the container) 
.container-answer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

/* Hide the browser's default radio button 
.container-answer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button 
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid black;
}

/* On mouse-over, add a grey background color 
.container-answer:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the radio button is checked, add a black background 
.container-answer input:checked ~ .checkmark {
    background-color: rgba(25, 25, 25, 0.8);
}
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:600");
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        ". . ."
        ". content ."
        ". . .";
}
#content {
    grid-area: content;
}
.question-block {
    display: grid;
    grid-area: content;
    grid-template-columns: auto;
    grid-template-rows: 25% 65% 10%;
    align-content: center;
}
.question-proper {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.question-number {
    background: #983532;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    padding: 5px;
}

.question-text {
    font-size: 30px;
}

.question-choices {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.question-choice {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
}

.question-letter-choice {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #325399;
    line-height: 50px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    font-size: 24px;
}

.question-choice-text {
    align-self: center;
    margin-left: 20px;
    font-size: 24px;
}

.question-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.nav-button {
}
.editable {
    width: 100px;
    height: 40px;
    border: 1px solid black;
}
.assignments-index {
    grid-area: content;
}

nav {
    height: 60px;
    text-align: right;
    font-family: "Poppins", sans-serif;
    padding: 10px;
}
nav ul {
    list-style: none;
    display: inline-block;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav a {
    color: black;
    font-size: 18px;
}
nav a:hover {
    text-decoration: none;
}
.nav-profile {
    display: inline-block;
}
.dropdown {
}
.list-group {
    list-style: none;
}
.results > .list-group > li {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header" "answerResponse correctResponse";
    margin: 20px 0px;
}
.subject-name {
    grid-area: header;
}
.answerResponse {
    grid-area: answerResponse;
}
th,
td {
    text-align: center;
}
.correctResponse {
    grid-area: correctResponse;
}

.list-group-item {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
.list-group-item .due-date {
    vertical-align: middle;
    line-height: 30px;
}
.list-group-item:nth-child(odd) {
    background: #e2e2e2;
}
.list-group-item ul {
    list-style: none;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}
.list-group-item ul li {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    line-height: 30px;
}
.list-group-item ul li:hover {
    background: #666666;
}
.assignments-index a {
    vertical-align: middle;
}
.far.fa-check-square {
    font-size: 30px;
    color: green;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}
.due-date {
    color: red;
    font-size: 18px;
    display: inline-block;
    margin-left: 40px;
}
.result {
    display: inline-block;
    position: absolute;
    right: 40px;
}
