/* ul,
ol {
    list-style: none;
}
.circle {
    border: 2px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.icon-wrapper {
}
.letter {
    position: absolute;
}
.answer-list-item {
    border-top: 1px solid #ccc !important;
    padding: 10px;
}
.answer-wrapper {
    display: block;
}
.answer-choice-text {
    display: inline;
} */

/* Customize the label (the container) 
.container-answer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

/* Hide the browser's default radio button 
.container-answer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button 
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid black;
}

/* On mouse-over, add a grey background color 
.container-answer:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the radio button is checked, add a black background 
.container-answer input:checked ~ .checkmark {
    background-color: rgba(25, 25, 25, 0.8);
}
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:600");
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.banner {
    display: flex;
    height: 500px;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 2px 5px #dde;
    justify-content: center;
    align-items: center;
}
.input-group {
    margin: 30px 0;
}
@media only screen and (min-width: 500px) {
    .auth-group {
        margin-left: 110px;
        width: initial;
    }
    .container {
        display: grid;
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            ". messages ."
            ". content ."
            ". . .";
    }
    .modal > .modal-content-auth {
        margin: 5vw auto;
        width: 682px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
            0 7px 20px 0 rgba(0, 0, 0, 1);
        padding: 0;
    }
    .input-control {
        width: calc(100% - 120px);
    }

    .carousel-item-description > span {
        display: inline-block;
        width: 400px;
    }

    .carousel-item-description-text {
        width: 400px;
        margin-left: 30px;
        display: inline-block;
    }
}
.message {
    grid-area: messages;
}
#content {
    grid-area: content;
}

.editable {
    width: 100px;
    height: 40px;
    border: 1px solid black;
}
.assignments-index {
    grid-area: content;
}

nav {
    height: 60px;
    text-align: right;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    background: #fff;
    z-index: 1;
}
nav ul {
    list-style: none;
    display: inline-block;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav a {
    color: black;
    font-size: 18px;
}
nav a:hover {
    text-decoration: none;
}
.nav-profile {
    display: inline-block;
}

.input-control {
    background: transparent;
    border: none;
    display: block;
    border-bottom: 2px solid #d2d2d2;
    margin-left: 10px;
}
.input-control:focus {
    outline: none;
}
.form-check-label {
    font-size: 12px;
}
.auth-btn {
    background: linear-gradient(
        145deg,
        rgba(146, 18, 70, 1),
        rgba(145, 18, 69, 1),
        rgba(143, 18, 67, 1),
        rgba(237, 107, 159, 1)
    );
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    border: none;
    border-radius: 5px;
    float: right;
}
.white-btn {
    background: white;
    border: 1px solid black;
    color: black;
}
.closeBtn:hover {
    background: white;
    cursor: pointer;
    backface-visibility: hidden;
    transition: transform 0.15s;
    transform: scale(1.01);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.closeBtn:hover::after {
    color: #a85295;
}
.login-additional {
    margin: 0 auto;
}
.login-additional a {
    text-decoration: none;
    margin-right: 30px;
}
.login-buttons .btn {
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #d4d0d0;
}
.modal {
    background: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content-auth {
    background: #f4f4f4;
    font-size: 20px;
    border-radius: 10px;
    animation-name: open;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    font-family: "Aleo";
    grid-area: content;
}

.modal-header {
    background-image: url("../images/login.png");
    background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    padding: 0;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .navbar-collapse {
        box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
            rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    }
    .modal-content-auth {
        width: 100%;
        margin: 0 auto;
    }
    .modal-header {
        height: 40vh;
    }

    .btn {
        width: 100%;
    }
}
.modal-header h2,
.modal-footer h3 {
    margin: 0;
}
.modal-body-auth {
    padding: 10px 20px;
}
.modal-footer {
    background-color: coral;
    padding: 10px;
    color: #fff;
    text-align: center;
}
@keyframes open {
    from {
        /*width:0; height:0; */
        opacity: 0;
    }
    to {
        /*width: 70%; height: 400px; */
        opacity: 1;
    }
}

.input-group > label {
    margin: 0;
    width: 100px;
    display: inline-block;
}
.fullWidth {
    width: 70%;
}
.display {
    display: block !important;
}
.closeBtn {
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 30px;
    padding: 5px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background: #a85295;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.closeBtn::after {
    content: "\00d7";
    position: absolute;
    font-size: 30px;
    padding: 5px;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    display: block;
    font-family: sans-serif;
}
.auth-group a {
    color: black;
    text-transform: none;
}
.auth-group a:hover {
    color: linear-gradient(45deg, #ed6a9f, rgba(199, 76, 219, 0.43));
    text-decoration: none;
}
.login-helpers {
    font-size: 14px;
}
.login-helpers > div {
    display: inline-block;
}
.auth-group > div {
    width: 100%;
}
.auth-group > div > div {
    padding: 0;
}
#remember {
    margin-right: 5px;
}
.list-group {
    list-style: none;
}
.results > .list-group > li {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header" "answerResponse correctResponse";
    margin: 20px 0px;
}
.subject-name {
    grid-area: header;
}
.answerResponse {
    grid-area: answerResponse;
}
th,
td {
    text-align: center;
}
.correctResponse {
    grid-area: correctResponse;
}

.list-group-item {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid rgba(30, 30, 30, 0.1);
    border-top: 1px solid rgba(30, 30, 30, 0.1);
}
#login-content {
    display: none;
}
#register-content {
    display: none;
}
.list-group-item .due-date {
    vertical-align: middle;
    line-height: 30px;
}
.list-group-item:hover {
    background: #e2e2e2;
}
/* .list-group-item:nth-child(odd) {
    background: #e2e2e2;
} */
.list-group-item ul {
    list-style: none;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}
.list-group-item ul li {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    line-height: 30px;
}
.list-group-item ul li:hover {
    background: #666666;
}
.assignments-index a {
    vertical-align: middle;
}
.right-hand-side {
    display: inline-block;
    float: right;
}
.pdf-link {
    color: #e03838;
    font-size: 26px;
}
.far.fa-check-square {
    font-size: 30px;
    color: green;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}
.due-date {
    color: #e03838;
    font-size: 18px;
    display: inline-block;
    margin-left: 30px;
}
.result {
    margin-left: 10px;
    display: inline-block;
}
.result a {
    border: 3px solid #e03838;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.result a:hover {
    background: #e03838;
    color: white;
}
#carouselExampleControls {
    position: absolute;
}
.carousel-item img {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}
.carousel-item-description {
    color: #fff;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    align-items: flex-start;
    display: flex;
}
.carousel-item-description > div:first-child {
    border-radius: 50%;
    background-color: #ff9400;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.carousel-item-number {
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    padding: 10px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
