body > .container {
    overflow: visible;
}
.question-block.create {
    display: grid;
    grid-area: content;
    grid-template-columns: auto;
    grid-template-rows: 25% 65% 10%;
    align-content: center;
}
.label {
    font-size: 14px;
    font-weight: 700;
}
.question-proper.create {
    display: grid;
    grid-template-columns: 10fr 2fr;
}
.question-info {
    margin-left: 10px;
}
.question-subject {
    /*  display: grid;
    grid-template-rows: 1fr 2fr; */
}

.question-text {
    font-size: 24px;
}
.math-input {
    font-size: 16px;
}
.math-input > textarea {
    display: block;
    width: 100%;
}
textarea {
    resize: none;
}
.math-output {
    margin-top: 30px;
    height: 100px;
    font-size: 24px;
    overflow: auto;
}
.math-output > span {
    max-width: 665px;
    word-wrap: break-word;
}
#answer-type {
    display: inline-block;
    margin-left: 30px;
}
#answer-type > div {
    display: inline-block;
    margin-left: 10px;
}
.answer-choices {
    /* display: grid;
    grid-template-rows: repeat(4, 1fr); */
    margin-top: 30px;
}

.answer-choice {
    display: grid;
    padding: 10px;
    height: 76px;
    grid-template-columns: 1fr 7fr 7fr;
}

.answer-choice-text {
    margin-left: 20px;
    height: 56px;
    overflow: auto;
}

.question-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* Customize the label (the container) */
.checkmark-container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
    background-color: #45af34;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
